{{#block "header"}}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Blog</title>
</head>
<body>
{{/block}}

<section class="container">
    {{#block "content"}}

    {{/block}}
</section>
{{#block "footer"}}
<script src="./js/jquery-3.4.0.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/mdb.min.js"></script>
<script src="./js/popper.min.js"></script>
</body>
</html>
{{/block}}

