{{#partial "styleHref"}}
    href=""
{{/partial}}
{{#partial "content"}}
    <div class="jumbotron text-center">
        <h1>Success!!!</h1>
        <p>You post has been published</p>
        <a class="btn" href="/new">View Posts</a>
    </div>



{{/partial}}
{{> layout.hbs}}