
{{#partial "content"}}

    {{#if username=""}}
        <h3 class="text-center text-capitalize jumbotron dark">Welcome {{ username }}</h3>
        <section class="form-sec flex-center">
        <form action="/new" class="form-horizontal col-md-6" method="post">
            <div class="md-form form-sm ">
                <label for="username"></label>
<!--                <input class="form-control form-control-sm" type="text" id="content" name="content"-->
<!--                       placeholder="En">-->
                <textarea class="form-control form-control-sm" type="text" id="content1" name="content1"
                       placeholder="Create a post"></textarea>
            </div>
            <button class="btn blue-gradient btn-block" type="submit">Post</button>
        </form>
    </section>
    {{else}}
        <section class="flex flex-center">
            <div class="card col-md-6 ">
                <div class="card-body text-center" >
                    <h3>You do not appear to be logged in!! <br> Please log in to continue</h3>
                    <a href="/" class="btn blue-gradient btn-block col-md-6">Login</a>
                    <p>Dont have an account?</p>
                    <a href="/" class="btn success-gradient btn-block col-md-6">Sign up</a>
                </div>
            </div>
        </section>

    {{/if}}


{{/partial}}
{{> layout.hbs}}