{{#partial "content"}}


    Welcome {{ username }}

    <section class="form-sec flex-center">
        <form action="" class="form-horizontal col-md-6">
            <div class="md-form form-sm ">
                <label for="username"></label>
                <input class="form-control form-control-sm" type="text" id="username" name="username"
                       placeholder="Enter name">
            </div>
            <div class="md-form form-sm ">
                <label for="email"></label>
                <input class="form-control form-control-sm" type="text" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="md-form form-sm ">
                <label for="password"></label>
                <input class="form-control form-control-sm" type="text" id="password" name="password"
                       placeholder="Enter password">
            </div>
            <button class="btn blue-gradient btn-block" type="submit">Submit</button>
        </form>
    </section>




{{/partial}}
{{>layout.hbs}}